* {
  margin: 0;
  padding: 0;
  font-family: 'Radio Canada', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 32px 0;
  gap: 16px;
}