form {
    display: flex;
    gap: 24px;
    margin: 32px;
    align-items: center;
}

form > label {
    gap: 8px
}

.btn, .inputBox, label  {
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 1.1em;
}

.inputBox  {
    background-color: #efefef;
}